<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
        <ion-button color="primary" clear><ion-icon name="person"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <b>Who we are.</b>
  </ion-card-header>
  <ion-card-content>
    <ion-list>Wealth management is a high-level professional service that combines financial/investment advice, accounting/tax services, retirement planning and legal/estate planning for one fee. </ion-list>
    
    <ion-list>Financial planning is the process of structuring and arranging your financial resources to meet your life goals.</ion-list> 
    
    <ion-list>These can be as short term as saving for a car, to long term planning for retirement.</ion-list> 
    
    <ion-list>Financial Planning aims to provide financial certainty and clarity on your current and future Financial Wellbeing.</ion-list> 
  
    <ion-list>In order to make informed financial decisions, it is important to engage the services of a Certified Financial Planning professional, commonly referred to as a CFP®, when you plan your financial life.</ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
