.welcome-card ion-img {
    max-height: 35vh;
    height: 253px;
    width: 373px;
    overflow: hidden;
  }
  
  .home-page-header{
    background-color: #ffffff;
  }

  .button-holder{
      padding: 20px;
  }
  
  h3{
    display: inline;
  }

  h4{
      text-align: center;
  }

  
  
  .spacer{
      height: 10px;
  }

  ion-card-title{
     color: #e26022;
  }
  
  
  
  // .icons{
  //   width: 70px;
  //   height: 70px;
  // }
