<ion-header class="home-page-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons> 
  <ion-title>Home</ion-title>
  <ion-buttons slot="end">
      <ion-button color="primary" clear><ion-icon name="person"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>



<ion-content>
  <!---->





  <!---->
    

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="welcome-card">
            <ion-img src="../../assets/blogpost1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Learners</ion-card-title>
              <div class="spacer"></div>
              <ion-card-subtitle>Learnership</ion-card-subtitle>
              <ion-card-subtitle>Internership</ion-card-subtitle>
              <ion-card-subtitle>Recognition of Prior Learning</ion-card-subtitle>
              <ion-card-subtitle>Apprenticeship</ion-card-subtitle>
              <ion-card-subtitle>Trade Test</ion-card-subtitle>
              <ion-card-subtitle>Bursaries</ion-card-subtitle>
              <ion-card-subtitle>Audit Education & Training</ion-card-subtitle>
              <ion-card-subtitle>Skills Programme</ion-card-subtitle>
            </ion-card-header>
            
            <div class="button-holder">
              <ion-button color="primary">Learn More</ion-button>
            </div>
            
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="welcome-card">
            <ion-img src="../../assets/blogpost2.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Manditory Grants</ion-card-title>
              <div class="spacer"></div>
              <ion-card-subtitle>MG Portal Login</ion-card-subtitle>
              <ion-card-subtitle>WSP/ATR Documents</ion-card-subtitle>
            </ion-card-header>
            
            <div class="button-holder">
              <ion-button color="primary">Learn More</ion-button>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="welcome-card">
            <ion-img src="../../assets/blogpost3.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Quality Assurance</ion-card-title>
              <div class="spacer"></div>
              <ion-card-subtitle>Accreditation</ion-card-subtitle>
              <ion-card-subtitle>LMIS User Manual</ion-card-subtitle>
              <ion-card-subtitle>LMIS Portal Login</ion-card-subtitle>
            </ion-card-header>
            
            <div class="button-holder">
              <ion-button color="primary">Learn More</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card class="welcome-card">
            <ion-img src="../../assets/blogpost4.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Stakeholder Liason</ion-card-title>
              <div class="spacer"></div>
              <ion-card-subtitle>Skills Development</ion-card-subtitle>
              <ion-card-subtitle>Levies</ion-card-subtitle>
              <ion-card-subtitle>Service SETA</ion-card-subtitle>
              <ion-card-subtitle>Constitution</ion-card-subtitle>
              <ion-card-subtitle>Sector Skills</ion-card-subtitle>
              <ion-card-subtitle>Plan/Research</ion-card-subtitle>
            </ion-card-header>
            
            <div class="button-holder">
              <ion-button color="primary">Learn More</ion-button>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="welcome-card">
            <ion-img src="../../assets/blogpost5.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Enteprise Dev. & Strategic Partnership</ion-card-title>
              <div class="spacer"></div>
              <ion-card-subtitle>Rural Development</ion-card-subtitle>
              <ion-card-subtitle>Disability</ion-card-subtitle>
              <ion-card-subtitle>Projects</ion-card-subtitle>
            </ion-card-header>
            
            <div class="button-holder">
              <ion-button color="primary">Learn More</ion-button>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="welcome-card">
            <ion-img src="../../assets/blogpost6.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Procurement</ion-card-title>
              <div class="spacer"></div>
              <ion-card-subtitle>Tender Notifications</ion-card-subtitle>
              <ion-card-subtitle>Active Tenders</ion-card-subtitle>
              <ion-card-subtitle>B-BBEE</ion-card-subtitle>
            </ion-card-header>
            
            <div class="button-holder">
              <ion-button color="primary">Learn More</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
